/* RESPONSIVE MEDIA Q */
:root {
	font-size: 16px;
}

@media (max-width: 576px) {
	:root {
		font-size: 12px;
}
}

@media (min-width: 576px) and (max-width: 768px) {
	:root {
		font-size: 14px;
	}
}

/* GENERAL */
.text-small {
    font-size: 0.85rem !important;
}
  
.text-gray {
    color: #aaa !important;
}
  
strong {
    font-weight: 700;
}
  
button:focus, button:active {
    outline: none;
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #111111;
	background-color: #fff;
}
.a {
	color: #dcb14a;
	text-decoration: none;
}
.a:hover {
		color: #b68b23;
		text-decoration: underline;
}
.a:focus {
		color: #b68b23;
		text-decoration: underline;
}

.media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}
.media-body {
	-ms-flex: 1;
	flex: 1;
}
.reset-anchor {
	color: inherit;
	transition: all 0.3s;
}
.reset-anchor:hover, .reset-anchor:focus {
	text-decoration: none;
}
.background-hover:hover{
	background-color: #dcb14a !important;
}